.search-content {
  background-color: $yellow-500;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 60px;
}

.search-item {
  background-color: $blue-500;
  border-radius: 13px;
  border: 5px solid transparent;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
  text-decoration: none;
  transition: border 0.3s ease-in-out;
}

.search-item:hover {
  background-color: #83b4d3;
}

.search-title {
  background-color: $white-500;
  border-radius: 13px;
  margin: 0;
  padding: 9px;
  color: $black-500;
}
